{% extends "layout.html" %}
{% block content %}

<!-- Import data ??? -->
<!-- <div>{{ data }}</div> -->
<div
class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
<h1 class="h2">California Wildfire Heatmap</h1>
<div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">Active Fires</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Inactive Fires</button>
    </div>
   <!-- <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <span data-feather="calendar"></span>
        This week
    </button>
    -->
</div>
</div>
<!-- HEATMAP PLOT HERE -->
<div id="Heatmap"></div>


<h2>Twitter Updates</h2>
<div class="container">
  <div class="row">
      <div class="col-6">
        <a class="twitter-timeline" data-height="550" data-lang="en" data-dnt="true" data-chrome="nofooter noborders noheader noscrollbar" href="https://twitter.com/CAL_FIRE">Twitter Updates by Cal Fire</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div class="col-6">
        <a class="twitter-timeline" data-height="550" data-lang="en" data-dnt="true" data-chrome="nofooter noborders noheader noscrollbar" href="https://twitter.com/cafirescanner">Twitter Updates by Cal Fire</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
  </div>
</div>

<!-- KEEP ALL CODE ABOVE THIS LINE -->
{% endblock content %}

{% block script %} 
<!-- js syntax for Flask -->
<script src="{{ url_for('static', filename='heatmap.js') }}"></script>
{% endblock %}