{% extends "layout.html" %}
{% block content %}
<!-- PUT MAP UNDER HERE -->

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Statistics</h1>

</div>
  
  <!-- Map Here? -->
  <div class="box">
    <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
      <br>
      <div id="test_stat_two"></div>
      <br>
      <div id="test_stat_three"></div>
      <br>
      <div id="test_stat_four"></div>
  </div>
<!-- Call JavaScript here-->

<!-- KEEP ALL CODE ABOVE THIS LINE -->
{% endblock content %}

{% block script %} 
<!-- js syntax for Flask -->
<script src="{{ url_for('static', filename='stats.js') }}"></script>
{% endblock %}