{% extends "layout.html" %}
{% block content %}
<!-- PUT MAP UNDER HERE -->

<!-- Put the map in a div here -->
<div>
  <h1 class="mr-2">Stats</h1>
  
  <!-- Map Here? -->
  <div class="box">
      <div id="test_stat"></div>
      <br>
      <div id="test_stat_two"></div>
      <br>
      <div id="test_stat_three"></div>
  </div>
</div>

<!-- Call JavaScript here-->

<!-- KEEP ALL CODE ABOVE THIS LINE -->
{% endblock content %}

{% block script %} 
<!-- js syntax for Flask -->
<script src="{{ url_for('static', filename='stats.js') }}"></script>
{% endblock %}